<div class="row update">
    <div class="col-md-8 descriptionBox">
    <p><h5 class="centering">"Your Bitcoin Story" Description</h5></p>
    <p></p>
    <p class="descriptionFont">To me, Bitcoin has the potential to be the greatest form of money to have ever existed. I think Satoshi's
        invention is revolutionary and will have a profoundly positive effect on our world over the long-term.
    </p>
    <p class="descriptionFont">My Bitcoin story began in 2013, but I want to hear about <b>yours</b>. Share with us how you first got
    involved with Bitcoin and any other thoughts related to it. In doing so, you will receive the equivalent of $.25
    from the platform, with the potential to receive more from others. I hope you enjoy this website.
    </p>
    </div>
    <div class="col-md-4"></div> 
</div>
